@import "@/assets/scss/variables.scss";
.logout {
    height: 60px;
    float: right;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}
.page-title {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: #e6eff1;
    line-height: 60px;
    h2 {
        font-size: 20px;
        color: #747e81;
        font-weight: normal;
        margin: 0;
        letter-spacing: 4px;
    }
    .user-operating {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #666;
        .user {
            display: flex;
            align-items: center;
            justify-items: center;
        }
        span {
            position: relative;
        }
    }
}
